attrs==21.4.0 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
dotty-dict==1.3.0 ; python_version >= "3.8" and python_version < "4.0"
flywheel-gear-toolkit==0.6.10 ; python_version >= "3.8" and python_version < "4.0"
flywheel-gears==0.2.1 ; python_version >= "3.8" and python_version < "4.0"
fw-meta==3.1.3 ; python_version >= "3.8" and python_version < "4.0"
fw-utils==4.2.7 ; python_version >= "3.8" and python_version < "4.0"
jsonschema==3.2.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.8" and python_version < "4.0"
pathvalidate==2.5.2 ; python_version >= "3.8" and python_version < "4.0"
pydantic==1.9.0 ; python_version >= "3.8" and python_version < "4.0"
pyparsing==3.0.8 ; python_version >= "3.8" and python_version < "4.0"
pyrsistent==0.18.1 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.8" and python_version < "4.0"
rfc3987==1.3.8 ; python_version >= "3.8" and python_version < "4.0"
setuptools-scm==6.4.2 ; python_version >= "3.8" and python_version < "4.0"
setuptools==65.7.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.2.0 ; python_version >= "3.8" and python_version < "4.0"
tzdata==2022.7 ; python_version >= "3.8" and python_version < "4.0"
tzlocal==4.2 ; python_version >= "3.8" and python_version < "4.0"
